html, body {
    background-color: whitesmoke;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 5% 0 5%;
}

h1 {
    font-size: 300%;
    color: rgb(42, 42, 243);
    font-weight: bold;
    text-align: center;
  }

button {
    height: 40px;
    width: 200px;
    font-size: 15px;
    color: black;
    background: rgb(42, 42, 243);
    text-align: center;
    justify-content: center;
}

.subtitle {
    text-align: center;
}

.column {
    text-align: center;
}

.yourScore {
    margin: 4% 0 4% 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

.field label { 
    display: center;
    text-align: center;
    
  }

.field.is-grouped {
    justify-content: center;
}


.field {
    justify-content: center;
}

.input {
    width: 25%;
}

.control {
    display: flex;
    justify-content: center;
}

.noPadding {
    padding: 0 0.75rem;
}

